@model DriverServiceViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Driver Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Years of experience: <b>@Model.YearsExperience</b></h6>
            <h6>
                Price Per Day:
                <b>@String.Format("{0:f2}", Model.PricePerDay) BGN</b>
            </h6>
            <h6>(@(Model.IsHired ? "Hired" : "Available"))</h6>
            <br />
             @if (!Model.IsHired)
                {
                    <form class="input-group-sm" asp-controller="Driver"
                  asp-action="Hire" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Hire" />
                    </form>
                }
                  else
                {
                    <form asp-controller="Driver" asp-action="Release"
                  asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Release" />
                    </form>
                }
        </div>
    </div>
</div>